*{
  box-sizing: border-box;
}
body{
  font-family: monospace;
}
header{
  font-size: 175%;
  text-align: center;
  padding: 20px;
}
section
{
  border: 3px solid black;
  width:31%;
  margin:1.16%;
  float:left;
  padding: 2px 20px 2px 20px;
  background-color: grey;
  position:relative;
}
footer{
  text-align: center;
  clear: both;

}
.title{
  font-size: 125%;
  font-weight: bold;
  width:40%;
  float:right;
  margin-top: -4px;
  margin-right:-22px;
  border: 2px black solid;
  padding: 2px 0px 0px 0px;
  text-align: center;
}

.content{
top: 20px;
clear: right;
overflow: hidden;
}
#first{
 background-color: pink;
}
#second{
  background-color: red;
  color: white;
}
#third{
  background-color: brown;
}

@media (min-width: 768px) and (max-width: 991px){
  section{
    width: 46%;
    margin:2%;
  }
  section:nth-child(odd) {clear: both}
  .last{
    width: auto;
  }
}
@media (max-width:767px){
  section{
    width:auto;
  }
}
